spring:
  application:
    name: ACTIVITY-SERVICE

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
  mongodb:
    uri: mongodb://localhost:27017/FitAIMicroservicesPlatform-activity
    database:  FitAIMicroservicesPlatform-activity


server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

kafka:
  topic:
    name: activity-events
